* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

.board{
  height: 400px;
  width: 400px;
  background-color: gray;
  padding: 20px;
}

.btn{
  height: 100px;
  width: 100px;

   /* 2. Prevent the font box from stretching the borders */
  font-size: 2rem;
  box-sizing: border-box;
  
  /* 3. Center the X and O perfectly inside the box */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  /* 4. Fix vertical baseline alignment issues */
  vertical-align: middle; 
}